BeautifulSoup
beautifulsoup4
bpython
ipaddr
jsonpickle
lxml
netifaces
prettytable
pycurl
pytz==2014.9
redis
requests
rethinkdb
roman
rq
simplejson
six
tornado
tornado-redis
urlgrabber
xlrd
python-dateutil
py-bcrypt
