[appSettings]
agentid = f34029cf-6699-40df-b75b-6a1adfded0ed
nu = admin
wp = vfense
serverhostname = 
serveripaddress = 10.211.55.3
serverport = 443
agentport = 9003
tunnelport = 22
loglevel = debug
customer = default

[agentInfo]
name = TopPatch Agent
version = 0.7.0
description = TopPatch Agent
installdate = 03/18/2014

