[appSettings]
agentid = f156c9bc-a5a1-42f7-ac5e-10da621727a6
nu = admin
wp = vFense@123
serverhostname = 
serveripaddress = 192.168.1.8
serverport = 443
agentport = 9003
tunnelport = 22
loglevel = debug
customer = default

[agentInfo]
name = TopPatch Agent
version = 0.7.0
description = TopPatch Agent
installdate = 04/14/2014

