[appSettings]
agentid = ce31dfcd-b1c0-43ff-bcd5-ea3abbd43b62
nu = admin
wp = vfense
serverhostname = 
serveripaddress = 10.211.55.3
serverport = 443
agentport = 9003
tunnelport = 22
loglevel = debug
customer = default

[agentInfo]
name = TopPatch Agent
version = 0.7.0
description = TopPatch Agent
installdate = 03/21/2014

